* {
    margin: 0;
    padding: 0;
  }
body{
    padding: 30px;
   /** display: flex;
    justify-content: center;
    align-items: center; **/
}
p, h1, h2{
  padding: 10px;
}
.cards{
    margin: 20px;
    display: grid;

    width: 500px;
    min-height: 200px;

    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    background-color: #49305e;
    grid-template-columns: 500px 500px 500px;
   
}
img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.cards:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}
.text{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  color:#C9C3C3;
}
.other-text{
  padding-right: 15px;
  color: #03d903;
}
.icons{
 padding-top:70px;
 color: orange;
}
p.color{
  color: orange; 
}
.test{
  display: flex;
  flex-direction: row;
  align-items: center;
}
 .material-symbols-outlined:hover {
  font-size: 3rem;
}
h1{
  color:white;
}

/**@media screen and (max-width: 1600px) {
    body {
      justify-content: center;
    }
  }/**